<table id='students' class='table table-striped tablesorter'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Github login</th>
      <th>% complete</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
    <tr>
      <td><%= link_to student.name, student  %></td>
      <td><%= student.github_login %></td>
      <td><%= if @assignments.length > 0 and  student.assignments.uniq.length > 0 
	      format_pct(Float(student.assignments.uniq.length) / @assignments.length) 
      else
	      0 
      end %>%</td>
    </tr>
    <% end %>
  </tbody>
</table>



<br>
<%= link_to 'New Student', new_student_path %>
